:root{
--p-Dark-Blue: hsl(240, 38%, 20%);
--p-Grayish-Blue: hsl(240, 18%, 77%);

};
*{
	margin: 0;
	padding:0;
}
body{
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding:0;
  height: 88vh;
  background:#E7E9E9;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	width: 70%;
  position: relative;
  margin: 90px auto 30px auto;
}
.card-text{
	width: 52%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    z-index: 5;
    background: url('images/pattern-quotes.svg') no-repeat 30% 0/20% 30%;
}
.text{
	width: 110%;
	margin-left: 30px;
	font-weight: 300;
    color: var(--p-Dark-Blue);
    line-height: 1.4;
}
.name{
	font-weight: 700;
	font-size: 16px;
	margin-left: 30px;
}
.career{
  color: var(--p-Grayish-Blue);
  margin-left: 4px;
}
.card-text h5{
	margin-top: -5px;
}
.card-img{
	width: 50%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: url('images/pattern-bg.svg') no-repeat center/100% 100%;
	position: relative;
}
.img{
	width: 80%;
	height: 60vh;
	background-image:url('images/image-tanya.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
   transition: 0.2s ease;
}
.btns{
	align-self: flex-start;
	margin-left: 30px;
	position: absolute;
	bottom: 42px;
	left: 33px;
}
.btn-prev,.btn-next{
   border:none;
   outline: none;
   cursor: pointer;
   transition: 0.2s ease;
   background:white;
   color: var(--p-Dark-Blue);
   font-weight: 700;
   font-size: 22px;
   padding: 5px 16px;

}
.btn-prev{
	border-radius:50px 0 0 50px;
	margin-right: -4px;
}
.btn-next{
	border-radius:0 50px  50px 0;
}
.btn-prev:hover,.btn-next:hover{
	background: #B8DFDB;
}

footer{
	margin:0 auto 0 auto;
	align-self: flex-end;
}
@media (max-width: 900px){
	body{
		height: 120vh;
	}
	main{
		width: 100%;
		max-width: 600px;
		height: 110vh;
		flex-direction: column;
      

	}
	.card-text{
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    z-index: 5;
    text-align: center;
    margin-top: 40px;
    order: 2;
     background: url('images/pattern-quotes.svg') no-repeat 60% 0/20% 30%;
}
.text{
	width: 90%;
}
.card-text h5{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.name{
	margin-left: 0;
}
footer{
	margin-top: 50px;
}
.card-img{
	position:relative;
	
	z-index: 0;
	width: 80%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	background: url('images/pattern-bg.svg') no-repeat center/100% 100%;
	margin-top: 90px;
	
}
.img{
	width: 80%;
	height: 60vh;
   background-size: 80% 80%;
    transition: 0.2s ease;
}
.btns{
	align-self: flex-start;
	margin-left:;
	position: absolute;
	bottom: 22px;
	left: 35%;
}

}

