:root{
	--d-Very-Dark-Blue: hsl(230, 17%, 14%);/*BG*/
--d-Very-Dark-Blue: hsl(232, 19%, 15%);/*top BG pattern*/
--d-Dark-Desaturated-Blue: hsl(228, 28%, 20%);/*BG*/
--d-Desaturated-Blue-Text: hsl(228, 34%, 66%);
--d-White-Text: hsl(0, 0%, 100%);

--p-Lime-Green: hsl(163, 72%, 41%);
--p-Bright-Red: hsl(356, 69%, 56%);
--p-Facebook: hsl(208, 92%, 53%);
--p-Twitter: hsl(203, 89%, 53%);
--p-YouTube: hsl(348, 97%, 39%);
--n-Toggle: hsl(230, 22%, 74%);

- p-Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
-dark Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

};
*,*::before,*::after{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Inter', sans-serif;
	background: var(--d-Very-Dark-Blue);
   color: var(--d-White-Text);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
main{
	max-width: 1100px;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*header*/
.header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}
.container-title{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

}
.subtitle{
margin-top: -9px;
color: var(--d-Desaturated-Blue-Text);
}
.mode{
	max-width: 300px;
	display: flex;
   justify-content:flex-end;
   align-items: center;
}
.toggle{
	width: 46px;
	height: 20px;
	border:none;
	outline: none;
	border-radius: 40px;
	padding: 2px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 7px;
	cursor: pointer;
	transition: 0.3s ease;
	background: linear-gradient(to right, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
}
.toggle.active{
  justify-content: flex-end;
}
.circle{
	transition: 0.2s ease;
	width: 20px;
	height: 20px;
	background: var(--d-Very-Dark-Blue);
	border-radius: 50px;
}
/*container card*/
.container-cards{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;

}
.card{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: var(--d-Dark-Desaturated-Blue);
	margin-left:15px; 
	padding: 20px 0 22px 0;
	color: var(--d-Desaturated-Blue-Text);
	position: relative;
}
.card:nth-child(1){
	margin-left: 0;
}
.icon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon img{
	cursor: pointer;
	transition: 0.2s ease;
}
.icon img:hover{
	filter: invert(0.3);
}
.account{
	margin-left: 7px;
}
.year{
	font-size: 54px;
	font-weight: 700;
	margin-top: 12px;
	color: var(--d-White-Text);
}
.follower{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	margin-bottom: 15px;
}
.state-today{
	color:#1EB589;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	cursor: pointer;
}
.state-today img{
	margin-right: 7px;
}
.red{
	color: #DC414C;
}
.facebook{
	border-top:5px solid var(--p-Facebook);
}
/*border-image:linear-gradient(to right,hsl(37, 97%, 70%) 0%,hsl(329, 70%, 58%) 100%);
	*/

.instagram::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 12px 12px 0 0;
   width: 100%;
   height: 5px;
   background:linear-gradient(to right,hsl(37, 97%, 70%) 0%,hsl(329, 70%, 58%) 100%);
	
   
}
.twitter{
	border-top: 5px solid hsl(203, 89%, 53%);
}
.youtube{
	border-top: 5px solid hsl(348, 97%, 39%);
	
}
/*Overview*/
.container-body{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}
/*container card text*/
.card-text{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	border-radius: 4px;
	background: var(--d-Dark-Desaturated-Blue);
	margin-left:15px; 
	padding: 20px 0 22px 0;
	color: var(--d-Desaturated-Blue-Text);
	position: relative;
}
.card:nth-child(1){
	margin-left: 0;
}
.row{
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.row:nth-child(2){
	margin-top: 32px;
}
.row img{
	cursor: pointer;
	transition: 0.2s ease;
}
.row img:hover{
	filter: invert(0.3);
}
.number{
	font-size: 32px;
	font-weight: 700;
	color: var(--d-White-Text);
}
.percent{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1EB589;
	cursor: pointer;
}
.percent img{
	margin-right: 5px;
}
/*footer*/
footer{
	margin: 20px auto 0 auto;
}


@media (max-width: 800px){
	
main{
	max-width: 800px;
	width: 90%;
	
}
.header{
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content:center;
}
.container-title{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.mode{
	max-width: 800px;
	width: 100%;
	display: flex;
   justify-content:space-between;
   align-items: center;
}
.container-cards{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	margin-top: 30px;
}
.card{
	width: 100%;
	margin-left:auto; 
	margin-top: 20px;
}
.card:nth-child(1){
	margin-left: 0;
}


}